body {
    font-family: 'Bellefair', serif;
}
#main {
    visibility: hidden;
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 750px;
    width: 90%;
    border-radius: 0.2rem;
    background-color: #F0E6D2;
}

#loadingScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingText { 
    color: white;
    font-size: 64px;
}

#champImg {
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 20%;
    min-width: 300px;
    flex-direction: column;
}


#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 95%;
}

.carouselItem {
    border: 2px solid;
    border-image: linear-gradient(#c8aa6d, #7a5c29) 1;
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease;
}

.carouselItem.active {
    opacity: 1;
}


#champName {
    display: flex;
    padding: 5px;
    font-size: 36px;
    align-self: start;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
}

#champTitle {
    display: flex;
    padding: 5px;
    font-size: 24px;
    align-self: end;
    width: 100%;
    justify-content: center;
    text-transform: capitalize;
}

#champInfo {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#champInfo h2 {
    text-align: center;
    font-size: 36px;
    margin: 0;
    font-weight: 400;
}

#champLore {
    font-weight: 400;
}

#gameplayInfo {
    padding: 10px;
}

#skills {
    display: flex;
    justify-content: space-evenly;
}

.spell,
.passive {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.spell img,
.passive img {
    width: 100px;
    display: flex;
    align-self: center;
    border: 2px solid black;
}
