body {
    background-image: linear-gradient(#091428, #0A1428);
}

header{
    text-align: center;
}

h1 {
    font-family: 'Bellefair', serif;
    color: #C89B3C;
    font-style: normal;
    font-size: 125px;
    font-weight: 400;
}

button {
    font-family: 'Marcellus SC', serif;
    background: #1e2328;
    color: #cdbe91;
    padding: 5px 15px;
    font-size: 15px;
    letter-spacing: 1px;
    border-image: linear-gradient(#c8aa6d, #7a5c29);
    border-width: 2px;
    border-image-slice: 1;
}
button:hover {
    text-shadow: 0 0 5px #ffffff80;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(#1e2328, #433d2b);
    cursor: pointer;
}
button:active {
    text-shadow: none;
    box-shadow: none;
    color: #cdbe9130;
}

.card {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.imgContainer {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.5s ease;
}

.card:hover img {
    transform: scale(1.2);
}

span{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 15px;
    color: white;
}

.textContainer {
    position: relative;
    padding: 10px;
    background-color: #005A82;
    z-index: -2; /* Para que el otro fondo lo pise*/
    overflow: hidden;
}

.textContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0AC8B9;
    transition: width 1s ease;
    z-index: -1; /* Para que no cubra el texto pero pase por encima al otro fondo */
}

.card:hover .textContainer::before {
    width: 100%;
}



