button {
    font-family: 'Marcellus SC', serif;
    background: #1e2328;
    color: #cdbe91;
    padding: 5px 15px;
    font-size: 15px;
    letter-spacing: 1px;
    border-image: linear-gradient(#c8aa6d, #7a5c29);
    border-width: 2px;
    border-image-slice: 1;
}
button:hover {
    text-shadow: 0 0 5px #ffffff80;
    box-shadow: 0 0 8px 0 #ffffff50;
    background: linear-gradient(#1e2328, #433d2b);
    cursor: pointer;
}
button:active {
    text-shadow: none;
    box-shadow: none;
    color: #cdbe9130;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px 10px;
    justify-items: center;
}

.card {
    cursor: pointer;
    position: relative;
    width: 320px;
    height: 570px;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-image: linear-gradient(#c8aa6d, #7a5c29) 1;
}

.imgContainer {
    height: 100%;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.5s ease;
}

.card:hover img {
    transform: scale(1.2);
}

span{
    font-family: sans-serif;
    font-weight: 700;
    color: white;
}

.name {
    text-transform: uppercase;
    font-style: italic;
    font-size: 15px;
}

.title {
    font-size: 12px;
    text-transform: capitalize;
}

.textContainer {
    text-align: center;
    position: relative;
    height: auto;
    padding: 10px;
    background-color: #005A82;
    z-index: -2; /* Para que el otro fondo lo pise*/
    overflow: hidden;
}

.textContainer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-image: linear-gradient(to left, #005A82, #0AC8B9);
    transition: width 1s ease;
    z-index: -1; /* Para que no cubra el texto pero pase por encima al otro fondo */
}

.card:hover .textContainer::before {
    width: 100%;
}


.moreDet {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
    z-index: 2;
    color: white;
    
}


#text {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0px;
    width: 100%;
    visibility: hidden;
    text-align: center;
    position: absolute;
    color: white;
    transition: opacity 1.5s ease;
    opacity: 0;
}

.card:hover #text {
    visibility: visible;
    opacity: 100;
}